flake8
isort
mypy
pep8-naming
Sphinx
tox
# Twine is used for uploading packages to pypi
# but it induces an install of cryptography
# This is sucky for rpi systems.
# twine
pre-commit
pytest
pytest-cov
gray
pip
pip-tools
