aprslib>=0.7.0
click
click-completion
flask==2.1.2
werkzeug==2.1.2
flask-classful
flask-httpauth
imapclient
pluggy
pbr
pyyaml
requests
pytz
six
thesmuggler
update_checker
flask-socketio
eventlet
tabulate
# Pinned due to gray needing 12.6.0
rich==12.6.0
# For the list-plugins pypi.org search scraping
beautifulsoup4
wrapt
# kiss3 uses attrs
kiss3
attrs
# for mobile checking
user-agents
pyopenssl
dataclasses
dacite2
oslo.config
rpyc
# Pin this here so it doesn't require a compile on
# raspi
cryptography==38.0.1
shellingham==1.5.0.post1
ratelimiter
