aioax25>=0.0.10
aprslib
click
click-completion
flask
flask-classful
flask-httpauth
imapclient
opencage
pluggy
pbr
pyyaml
# Allowing a newer version can lead to a conflict with
# requests.
py3-validate-email
pytz
requests
six
thesmuggler
yfinance
update_checker
flask-socketio
eventlet
