build
pip
pip-tools
pre-commit
Sphinx
tox
wheel

# Twine is used for uploading packages to pypi
# but it induces an install of cryptography
# This is sucky for rpi systems.
# twine

# m2r is for converting .md files to .rst for the docs
m2r
