#aprslib>=0.7.0
aprslib @ git+https://github.com/hemna/aprs-python.git@telemetry
click
dataclasses-json
haversine
kiss3
loguru
oslo.config
pluggy
requests
rich
rush
thesmuggler
tzlocal
update_checker
wrapt
pytz
timeago
