build
pip
pip-tools
pre-commit
pre-commit-uv>=4.1.1
tox
tox-uv
wheel

# Testing
pytest
pytest-cov

# Linting and formatting
ruff

# Type checking
mypy
types-pytz
types-requests
types-tzlocal

# Twine is used for uploading packages to pypi
# but it induces an install of cryptography
# This is sucky for rpi systems.
# twine
