<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    </head>

    <body>
        <form action="send-message" method="POST" name="send-message">
        <p><label for="from_call">From Callsign:</label>
        <input type="text" name="from_call" id="fcall" value="{{ from_call }}"></p>

        <p><label for="to_call">To Callsign:</label>
        <input type="text" name="to_call" id="tcall"></p>

        <p><label for="message">Message:</label>
        <input type="text" name="message" id="message"></p>

        <input value="Submit" type="submit">
    </form>

    </body>

</html>
